body{
    background-image: linear-gradient(120deg,#6D696A,#FFFFFF);
    min-height: 100vh;
    color: #343d46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    zoom: 150%;
}
#container{
    border: aliceblue solid 2px;
    padding: 10px;
    font-size: 30px;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
#box, #back, #next{
    gap: 10px;
    margin: 15px 0;
}
button{
    width: 150px;
    height: 30px;
    background:#6D696A;
    border-radius: 4px;
    color: #fff;

    border: 1px solid #000;
    
}
#backbt, #playbt{
    background-color: #f44336;
    color: #fff;
    font-weight: bold;
}
#nextbt, #startbt{
    background-color: #4CAF50;
    font-weight: bold;
}
#nextbt, #startbt{
    width: 310px;
}
button:hover {
    transition: 0.5s;
    cursor: pointer;
    background: #535051;
}
.rightbtn{
    background:#a7adba;
    color: #6D696A;
    font-weight: bold;
}
#question{
    font-size: 20px;
}
#nextbt, #game ,#backbt{
    display: none;

}